div:has(> #positive_prompt) {
  border: none;
}

#positive_prompt {
  padding: 1px;
  background: var(--background-fill-primary);
}

.type_row {
  height: 84px !important;
}

.type_row_half {
  height: 34px !important;
}

.refresh_button {
  border: none !important;
  background: none !important;
  font-size: none !important;
  box-shadow: none !important;
}

.advanced_check_row {
  width: 330px !important;
}

.min_check {
  min-width: min(1px, 100%) !important;
}

.resizable_area {
  resize: vertical;
  overflow: auto !important;
}

.performance_selection label {
  width: 140px !important;
}

.aspect_ratios label {
  flex: calc(50% - 5px) !important;
}

.aspect_ratios label span {
  white-space: nowrap !important;
}

.aspect_ratios label input {
  margin-left: -5px !important;
}

.lora_enable label {
  height: 100%;
}

.lora_enable label input {
  margin: auto;
}

.lora_enable label span {
  display: none;
}

@-moz-document url-prefix() {
  .lora_weight input[type=number] {
    width: 80px;
  }
}
